@import url(_vars.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    height: 100%;
} 

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
}